

body{
  text-align: center;
   font-family: "Roboto", sans-serif;
}
.count{
  font-size: 3rem;
}
#minas{

padding: 10px 16px;
font-size: 1rem;
font-weight: 500;
background-color: #fd4d0d;
border-radius: 4px;
border: 1px solid transparent;
border-color: #fd290d;

}

#plus{
padding: 10px 16px;
font-size: 1rem;
font-weight: 500;
background-color: #0d6efd;
border-radius: 4px;
border: 1px solid transparent;
border-color: #0d6efd;
}

#set{
  padding: 10px 16px;
font-size: 1rem;
font-weight: 500;
background-color: #07749f;
border-radius: 4px;
border: 1px solid transparent;
border-color: #07749f;
}
input{
  width:5rem;
  height: 2rem;
  font-size: 1rem;
}
